body {
    background:url(fundo1.jpg);
    font: normal 15pt Arial;
}


header {
    color: #1b93b1cc ;
    text-align: center;
    background-color: #0000004f;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


section{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #0000004f;
    border-radius: 100px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 217, 255, 0.671);
    text-align: center;
    color: #1b93b181 ;
}


section:hover{
    background: #012d3880;
}


footer {
    text-align: center;
    font-style: italic;
    margin-top: 22%;
    color: #1b93b1cc;
}


#botao {
    padding:5px;
    font-size: 15px;
    border-radius: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ff000000;
    color:#1b93b1cc;
}


#botao:hover{
    filter:brightness(1000%);
}


.inputs {
    border-radius: 50px;
    color:aqua;
    background-color:#012d3880;
}


#res:hover{
    filter:brightness(200%);
}


#txtini:hover{
    filter:brightness(200%);
}


#txtfim:hover{
    filter:brightness(200%);
}


#txtpas:hover{
    filter:brightness(200%);
}


.transparente:hover {
    filter:brightness(300%);
}