body {
    background: rgb(88, 88, 252);
    font: normal 15pt Arial;
    
}

header {
    color: white;
    text-align: center;
    background-color: #0000004f;

}

section{
    background: #0000004f;
    border-radius: 100px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.671);
    text-align: center;
}

section:hover{
    filter:brightness(200%);
}


footer {
    color: white;
    text-align: center;
    font-style: italic;

}

.transparente:hover{
    filter:brightness(200%)
}